<nav class="navbar">
  <div class="brand">
    <a href="/">E-COMMERCE</a>
  </div>
  <ul class="nav-links">
    <li><a href="/">Produtos</a></li>

    <li><a href="/seller/products">Gestão de Produtos</a></li>

    <li><a href="/cart">Carrinho ({{cartItemCount}})</a></li>
    
    <li>{{#if usuario}}
        <a href="/account">Minha Conta</a>
      {{else}}
        <a href="/login">Entrar</a>
      {{/if}}
    </li>
  </ul>
</nav>