<div class="form-card">
    <h1>Minha Conta</h1>

    <div class="account-info">
        <h2>Bem-vindo(a), {{usuario.nome}}!</h2>
        <p><strong>Email:</strong> {{usuario.email}}</p>
        <p><strong>Tipo de Usuário:</strong> 
            {{#if usuario.vendedor}}
                Vendedor
            {{else}}
                Cliente
            {{/if}}
        </p>
    </div>

    {{#if usuario.vendedor}}

        <div class="seller-options">
            <h3>Opções de Vendedor</h3>

            <form action="/seller/products" method="get">
                <button href="/seller/products" class="button-options">Gerenciar Produtos</button>
            </form>
            
            <p>Aqui você pode ver e editar seus produtos, estoque e exposição.</p>
        </div>
    {{else}}
        <h3>Opções de Cliente</h3>
        <div class="client_options">
        
            <form action="/cart" method="get">
                <button href="/cart" class="button-options">Ver Carrinho</button>
            </form>
            <form action="/orders" method="get">
                <button href="/orders" class="button-options">Meus Pedidos</button>
            </form>
        </div>
        <p>Aqui você pode acompanhar seus pedidos e gerenciar seu carrinho.</p>
    {{/if}}

    <form action="/logout" method="POST">
        <button href="/logout" class="button-danger">Sair</button>
    </form>
</div>