<div class="form-card">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email"> Usuário (seu e-mail)</label>
        <input id="email" type="text" name="email" class="form-control">

        <label for="senha"> Senha</label>
        <input id="senha" type="password" name="senha" class="form-control">

        <p>Se você não possui cadastro clique <a href="/register">aqui</a></p>

        <button id="entrar" type="submit" name="entrar" class="button-submit">Entrar</button>
    </form>
</div>